.corposGridContainer {
  display: flex;
  justify-content: center;
  margin-left: 5%;
} 

.corposGrid {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.corpos {
  width: 100%px;
}
