.telaInicial {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.selects {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 200px;
  height: 100%;
}

.corpos {
  width: 100%px;
}
